<div class="container">
  <%= bootstrap_form_for(@grade) do |f| %>
      <%= f.text_field :short_name, label: 'Krótka nazwa' %>
      <%= f.text_field :long_name, label: 'Długa nazwa' %>
      <%= f.text_field :value, label: 'Wartość' %>
      <%= f.submit 'Zapisz', class: 'btn btn-primary' %>
      <%= link_to 'Anuluj', pupils_path, :class => 'btn btn-default' %>
  <% end %>
</div>
