<h4>Edycja użytkownika:</h4> <h2><%= "#{resource.name} #{resource.lastname}" %></h2>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= f.text_field :name, label: 'Imię' %>
          <%= f.text_field :lastname, label: 'Nazwisko' %>
          <%= f.text_field :email, label: 'email' %>
          </div>
          <div class="col-md-4">
            <h4>Zmiana hasła:</h4>
            <h6>(puste, jeżeli nie zmieniasz)</h6>

            <%= f.password_field :password, autocomplete: 'off', label: 'Hasło' %>
            <%= f.password_field :password_confirmation, autocomplete: 'off', label: 'Powtórz hasło' %>
          </div>
          </div>
          <div class="row">
            <div class="col-md-8">
            <%= f.password_field :current_password, autocomplete: 'off', label: 'Bieżące hasło' %>
            </div>
          </div>
      <div class="row">
            <%= f.submit 'Zapisz', class: 'btn btn-success' %>
      <% end %>
      <%= link_to "Anuluj", :back, class: 'btn btn-primary' %>
      <%= link_to "Usuń konto", registration_path(resource_name), data: {confirm: "Jesteś pewien?"}, method: :delete, class: 'btn btn-danger' %>
      </div>
      </div>
      </div>