<div class="page-header">
  <h1><%= "#{@subject.name} (prowadzący: #{@subject.user.name_displayed})" %></h1>
  <h3>Uczniowie</h3>
</div>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th data-sortable="true">Imię i nazwisko</th>
    <th>Uwagi</th>
    <th>Oceny</th>
    <th>Średnia</th>
    <th>Oceń</th>
  </tr>
  </thead>
  <tbody>
  <% @pupils.each do |pupil| %>
      <tr>
        <td><%= link_to "#{pupil.name} #{pupil.lastname}", pupil_path(pupil) %></td>
        <td><%= pupil.note %></td>
        <td>
          <% pupil.grades(@subject).each do |grade| %>
              <%= link_to '', class: 'btn btn-info', title: grade.updated_at.strftime('%F %T'),
                          'data-toggle': 'tooltip', 'data-placement': 'right' do %>
                  <%= grade.short_name %>
              <% end %>

              <% @sum_array << grade.value %>
          <% end %>
        </td>
        <td>
          <%= average_array @sum_array %>
        </td>
        <td>
          <% Grade.all.order(value: :desc).each do |grade| %>
              <%= link_to grade.short_name,
                          diary_addgrade_path(subject: {grade_id: grade.id, pupil_id: pupil.id, subject_id: @subject.id}),
                          method: :post, class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%=  %>
