<div class="page-header">
  <h1><%= "#{@subject.name} (prowadzący: #{@subject.user.name})" %></h1>
  <h3>Uczniowie</h3>
</div>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th data-sortable="true">Imię i nazwisko</th>
    <th>Uwagi</th>
    <th>Oceny</th>
    <th>Średnia</th>
    <th>Oceń</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @pupils.each do |pupil| %>
      <tr>
        <td><%= link_to "#{pupil.name} #{pupil.lastname}", pupil_path(pupil) %></td>
        <td><%= pupil.note %></td>
        <td>
          <% pupil.pupil_grades(@subject).each do |pupil_grade| %>
              <%= link_to '',
                          class: pupil_grade.grade.value == 1 ? 'btn btn-danger' : 'btn btn-info',
                          title: (l pupil_grade.updated_at),
                          'data-toggle': 'tooltip', 'data-placement': 'right' do
                pupil_grade.grade.short_name
              end %>
              <% @sum_array << pupil_grade.grade.value %>
          <% end %>
        </td>
        <td>
          <%= average_array @sum_array %>
        </td>
        <td>
          <% Grade.all.order(value: :desc).each do |grade| %>
              <%= link_to grade.short_name,
                          diary_addgrade_path(subject: {grade_id: grade.id, pupil_id: pupil.id, subject_id: @subject.id}),
                          method: :post, class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Usuwanie ocen', pupil_subject_pupils_grade_index_path(pupil, @subject) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= %>
