<div class="page-header">
<h1>Oceny ucznia <%= "#{@pupil.name} #{@pupil.lastname}" %> (<%= @subject.name %>)</h1>
</div>
<table data-toggle="table" data-search="true">
  <thead>
   <tr>
     <th>id</th>
     <th>Ocena</th>
     <th>Data wystawienia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pupil_grades.each do |pupil_grade| %>
      <tr>
        <td><%= pupil_grade.id %></td>
        <td><%= pupil_grade.grade.short_name %></td>
        <td><%= l pupil_grade.created_at %></td>
        <td><%# link_to 'Show', pupil_grade %></td>
        <!--<td><%# link_to 'Edit', edit_pupil_grade_path(pupil_grade) %></td>-->
        <td><%= link_to 'Destroy', '/pupils/1/subjects/1/pupil_grades/1', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', '/pupils/1/subjects/1/pupil_grades/1', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%# link_to 'New Pupil Grade', new_pupil_grade_path %>
