<div class="page-header">
  <h1>Użytkownicy</h1>
</div>
<%# link_to 'Nowy nauczyciel', new_teacher_path, class: 'btn btn-primary' %>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Rola</th>
    <th>Akcje</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
        <td><%= user.phone %></td>
        <td><%= User::ROLES[user.role.to_sym] %></td>
        <td>
          <%# link_to 'Pokaż', teacher, class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edytuj', edit_user_path(user), class: 'btn btn-default btn-xs' %>
          <%# link_to 'Usuń', teacher, method: :delete, data: {:confirm => 'Jesteś pewien?'},
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>