<div class="page-header">
  <h1>Przedmioty</h1>
</div>
<%= link_to "Nowy przedmiot", new_subject_path, class: 'btn btn-primary' %>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th>Nazwa przedmiotu</th>
    <th>Nauczyciel</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.user.name %></td>
        <td>
          <%= link_to 'Pokaż', subject_path(subject), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edycja', edit_subject_path(subject), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Usuń', subject_path(subject),
                      method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

