<div class="page-header">
  <h1>Nauczyciele</h1>
</div>
<%= link_to 'Nowy nauczyciel', new_teacher_path, class: 'btn btn-primary' %>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Telefon</th>
    <th>Akcje</th>
  </tr>
  </thead>

  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.lastname %></td>
        <td><a href="mailto:<%= teacher.email %>" ><%= teacher.email %></a></td>
        <td><%= teacher.phone %></td>
        <td>
          <%= link_to 'Pokaż', teacher, class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edytuj', edit_teacher_path(teacher), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Usuń', teacher, method: :delete, data: {:confirm => 'Jesteś pewien?'},
                      class: 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

