<div class="page-header">
  <h1>Edycja ucznia <%= @pupil.name %> <%= @pupil.lastname %></h1>
</div>
<%= render :partial => 'form' %>
<div class="container">
  <div class="page-header">
    <h1>Przedmioty</h1>
  </div>
  <%= link_to 'Przedmioty', pupil_subjects_path(@pupil), class: 'btn btn-primary' %>
  <table data-toggle="table" data-search="true">
    <thead>
    <tr>
      <th>Nazwa przedmiotu</th>
      <th>Nauczyciel prowadzący</th>
    </tr>
    </thead>
    <tbody>
    <% @pupil.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.user.name_displayed %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>