<div class="page-header">
  <h1>Uczniowie</h1>
</div>
<%= link_to'Nowy uczeń', new_pupil_path, class: 'btn btn-primary' %>
<table data-toggle="table" data-search="true" >
  <thead>
  <tr>
    <th data-sortable="true">Imię i nazwisko</th>
    <th>Uwagi</th>
    <th data-sortable="true">Utworzono</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @pupils.each do |pupil| %>
      <tr>
        <td><%= link_to "#{pupil.name} #{pupil.lastname}", pupil_path(pupil) %></td>
        <td><%= pupil.note %></td>
        <td><%= l pupil.created_at %></td>
        <td>
          <%= link_to 'Pokaż', pupil_path(pupil), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edytuj', edit_pupil_path(pupil), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Usuń', pupil_path(pupil), method: :delete, data: {confirm: 'Jesteś pewien?'},
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

