<div class="page-header">
  <h1>Uczeń <strong><%= @pupil.name %> <%= @pupil.lastname %></strong></h1>
</div>


<div class="container">
  <div class="page-header">
    <h1>Przedmioty</h1>
  </div>
  <table data-toggle="table" data-search="true" >
    <thead>
    <tr>
      <th>Nazwa przedmiotu</th>
      <th>Nauczyciel prowadzący</th>
      <th>Oceny</th>
      <th>Średnia</th>
    </tr>
    </thead>
    <tbody>
    <% @pupil.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.teacher %></td>
          <td>
            <% @average = 0 %>
            <% subject.grades.each do |grade| %>
            <%= grade.short_name %>,
            <% @average += grade.value %>
            <% end %>
          </td>
          <td>
            <%= @average/subject.grades.count %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

Oceny:<br>


