<div class="page-header">
  <h1>Uczeń <strong><%= @pupil.name %> <%= @pupil.lastname %></strong></h1>
</div>


<div class="container">
  <div class="page-header">
    <h1>Przedmioty</h1>
  </div>
  <table data-toggle="table" data-search="true">
    <thead>
    <tr>
      <th>Nazwa przedmiotu</th>
      <th>Nauczyciel prowadzący</th>
      <th>Oceny</th>
      <th>Średnia</th>
    </tr>
    </thead>
    <tbody>
    <% @pupil.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.user.name_displayed %></td>
          <td>
            <% sum_array = Array.new %>
            <% @pupil.pupil_grades(subject).each do |pupil_grade| %>
                <%= pupil_grade.grade.short_name %>,
                <% sum_array << pupil_grade.grade.value %>
            <% end %>
          </td>
          <td>
            <%= (sum_array.sum / sum_array.size.to_f).round(2) unless sum_array.size.zero? %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


